Repository pentora-ai/pentora: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

.codecov.yml:

# Codecov configuration for Pentora
# https://docs.codecov.com/docs/codecov-yaml

# Coverage targets
coverage:
  status:
    project:
      default:
        target: 70% # Realistic baseline (current: 67.3%, gradual improvement expected)
        threshold: 2% # Allow 2% decrease for refactoring flexibility
        informational: false # Block PRs that decrease coverage significantly
    patch:
      default:
        target: 85% # High standard for new code (achievable, see pkg/plugin: 96.5%)
        threshold: 5% # Allow 5% decrease for major refactoring/architecture changes
        informational: false # Enforce quality on new code

  # Ignore paths that don't need coverage
  ignore:
    # CLI entry points - thin wrappers around pkg/
    - 'cmd/**/*.go'

    # CLI command implementations - integration tested
    - 'pkg/cli/**/*.go'

    # Generated code
    - '**/*.pb.go' # Protobuf generated files
    - '**/*_generated.go' # Any generated Go files
    - 'pkg/engine/proto/**' # Protocol buffer definitions

    # Not yet implemented / future work
    - 'pkg/api/dashboard/**'
    - 'pkg/fingerprint/catalogsync/**'

    # Test files (already excluded by default but explicit)
    - '**/*_test.go'
    - '**/testdata/**'
    - '**/mock_*.go'

# Comment behavior on PRs
comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flags for different components (optional)
flags:
  unit:
    paths:
      - pkg/
    carryforward: true
  integration:
    paths:
      - pkg/server/
    carryforward: true

# Coverage improvement roadmap
# Current (v0.1-dev): project 70%, patch 85%
# Phase 2 (v0.2): project 75%, patch 85%
# Phase 3 (v0.3): project 80%, patch 90%
# Phase 4 (v1.0): project 85%, patch 90%
# Gradual improvement with each release cycle

feat(discovery): add real-time output to ICMP ping discovery module
  pkg/modules/discovery/icmp_ping.go
Due: unit

fix(output): suppress diagnostic subscriber in JSON mode for scan command
  cmd/vulntor/commands/output_setup.go
Due: none

feat(output): add real-time vulnerability detection output
  pkg/modules/evaluation/plugin_evaluation.go
  pkg/output/subscribers/diagnostic_subscriber.go
Due: unit

feat(output): add real-time service detection output for SSH and HTTP parsers
  pkg/modules/parse/http_parser.go
  pkg/modules/parse/ssh_parser.go
  pkg/output/subscribers/diagnostic_subscriber.go
Due: unit

fix(scanexec): preserve context values in orchestrator execution
  pkg/scanexec/service.go
Due: unit

fix(output): show progress emojis by default without -v flag
  cmd/vulntor/commands/output_setup.go
  pkg/modules/discovery/icmp_ping.go
  pkg/modules/discovery/tcp_port_discovery.go
  pkg/modules/evaluation/plugin_evaluation.go
  pkg/modules/parse/http_parser.go
  pkg/modules/parse/ssh_parser.go
Due: unit

fix(output): disable emojis in verbose mode, show only structured logs
  cmd/vulntor/commands/output_setup.go
  cmd/vulntor/commands/scan.go
Due: none

fix(logging): auto-detect TTY for grep-friendly logs
  pkg/engine/factory.go
  pkg/logging/logging.go
  pkg/logging/logging_test.go
Due: unit

feat(config): add YAML module configuration loading system
  cmd/vulntor/commands/scan.go
  go.mod
  go.sum
  pkg/config/config.go
  pkg/engine/planner.go
  pkg/engine/planner_test.go
  pkg/scanexec/service.go
  pkg/scanexec/service_test.go
Due: unit

fix(ui): add .gitkeep to dist for go:embed compatibility when used as library
  pkg/ui/dist/.gitkeep
Due: unit

feat(config): add ConfigSource interface and ENV var support
  go.mod
  go.sum
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/source.go
  pkg/config/source_test.go
Due: unit

fix(config): error when explicit --config file not found
  pkg/config/source.go
  pkg/config/source_test.go
Due: unit

test: add config command to CE for collision test
  cmd/vulntor/commands/config.go
  cmd/vulntor/commands/root.go
Due: none

refactor(commands): remove config command from root CLI
  cmd/vulntor/commands/config.go
  cmd/vulntor/commands/root.go
Due: none

Use XDG paths for plugin cache
  go.mod
  pkg/config/source.go
  pkg/paths/paths.go
  pkg/paths/paths_test.go
  pkg/plugin/cache.go
  pkg/plugin/options.go
  pkg/plugin/service.go
Due: unit

refactor(config): remove dev_mode and unused BindServerFlags
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/server.go
  pkg/config/server_test.go
  pkg/config/types.go
  pkg/server/httpx/auth.go
  pkg/server/httpx/auth_test.go
  pkg/ui/static_test.go
Due: unit, integration
