Repository pentora-ai/pentora: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

refactor(engine): reduce cyclomatic complexity + improve test coverage
  pkg/engine/planner.go
  pkg/engine/planner_test.go
Due: unit

fix(engine): repair --no-discover flag by fixing host discovery filter (#135)
  pkg/engine/planner.go
  pkg/engine/planner_test.go
Due: unit

fix(server,cli): add JSON error code/suggestion; warn on PluginService type mismatch\n\nResolves #90
  cmd/pentora/internal/format/format.go
  cmd/pentora/internal/format/format_test.go
  pkg/server/httpx/router.go
  pkg/server/httpx/router_test.go
Due: unit, integration

fix(server,cli): add JSON error code/suggestion; warn on PluginService type mismatch (resolves #90)
  cmd/pentora/internal/format/format.go
  cmd/pentora/internal/format/format_test.go
  pkg/server/httpx/router.go
  pkg/server/httpx/router_test.go
Due: unit, integration

test(cli): cover core command failure suggestions
  cmd/pentora/commands/dag/export.go
  cmd/pentora/commands/dag/export_test.go
  cmd/pentora/commands/dag/validate.go
  cmd/pentora/commands/dag/validate_test.go
  cmd/pentora/commands/fingerprint.go
  cmd/pentora/commands/fingerprint_test.go
  cmd/pentora/commands/scan.go
  cmd/pentora/commands/server/start.go
  cmd/pentora/commands/server/start_test.go
  cmd/pentora/commands/storage/gc.go
  cmd/pentora/internal/bind/fingerprint.go
  cmd/pentora/internal/bind/fingerprint_test.go
  cmd/pentora/internal/bind/scan.go
  cmd/pentora/internal/bind/scan_test.go
  cmd/pentora/internal/bind/server.go
  cmd/pentora/internal/bind/server_test.go
  cmd/pentora/internal/format/cobra.go
  cmd/pentora/internal/format/cobra_test.go
  cmd/pentora/internal/format/format_test.go
  cmd/pentora/internal/format/summary.go
  pkg/engine/errors.go
  pkg/engine/errors_test.go
  pkg/fingerprint/errors.go
  pkg/fingerprint/errors_test.go
  pkg/scanexec/errors.go
  pkg/scanexec/errors_test.go
  pkg/server/errors.go
  pkg/server/errors_test.go
  pkg/storage/errors.go
  pkg/storage/errors_test.go
Due: unit, integration

feat(cli): add suggestion-driven errors to core commands
  cmd/pentora/commands/dag/export.go
  cmd/pentora/commands/dag/export_test.go
  cmd/pentora/commands/dag/validate.go
  cmd/pentora/commands/dag/validate_test.go
  cmd/pentora/commands/fingerprint.go
  cmd/pentora/commands/fingerprint_test.go
  cmd/pentora/commands/scan.go
  cmd/pentora/commands/server/start.go
  cmd/pentora/commands/server/start_test.go
  cmd/pentora/commands/storage/gc.go
  cmd/pentora/internal/bind/fingerprint.go
  cmd/pentora/internal/bind/fingerprint_test.go
  cmd/pentora/internal/bind/scan.go
  cmd/pentora/internal/bind/scan_test.go
  cmd/pentora/internal/bind/server.go
  cmd/pentora/internal/bind/server_test.go
  cmd/pentora/internal/format/cobra.go
  cmd/pentora/internal/format/cobra_test.go
  cmd/pentora/internal/format/format_test.go
  cmd/pentora/internal/format/summary.go
  pkg/engine/errors.go
  pkg/engine/errors_test.go
  pkg/fingerprint/errors.go
  pkg/fingerprint/errors_test.go
  pkg/scanexec/errors.go
  pkg/scanexec/errors_test.go
  pkg/server/errors.go
  pkg/server/errors_test.go
  pkg/storage/errors.go
  pkg/storage/errors_test.go
Due: unit, integration

feat(api): implement cursor-based pagination for scans endpoint
  pkg/scanexec/service_test.go
  pkg/server/api/errors.go
  pkg/server/api/errors_test.go
  pkg/server/api/v1/scans.go
  pkg/server/api/v1/scans_test.go
  pkg/server/api/v1/validation.go
  pkg/storage/backend.go
  pkg/storage/cursor.go
  pkg/storage/cursor_test.go
  pkg/storage/local.go
  pkg/storage/local_test.go
Due: unit, integration

feat(api): implement cursor-based pagination for scans endpoint (resolves #139)
  pkg/scanexec/service_test.go
  pkg/server/api/errors.go
  pkg/server/api/errors_test.go
  pkg/server/api/v1/scans.go
  pkg/server/api/v1/scans_test.go
  pkg/server/api/v1/validation.go
  pkg/storage/backend.go
  pkg/storage/cursor.go
  pkg/storage/cursor_test.go
  pkg/storage/local.go
  pkg/storage/local_test.go
Due: unit, integration

fix(api): update validation tests for cursor-based pagination
  pkg/server/api/v1/validation_test.go
Due: unit, integration

fix(api): update validation tests for cursor-based pagination (#147)
  pkg/server/api/v1/validation_test.go
Due: unit, integration

feat(engine): add typed DataContext schema with runtime validation and package-level generic helpers; keep legacy API for orchestrator compatibility
  pkg/engine/datacontext.go
  pkg/engine/datacontext_test.go
  pkg/engine/orchestrator.go
Due: unit

feat(engine): add typed DataContext schema with runtime validation and package-level generic helpers; keep legacy API for orchestrator compatibility (#146)
  pkg/engine/datacontext.go
  pkg/engine/datacontext_test.go
  pkg/engine/orchestrator.go
Due: unit

feat(engine): integrate typed DataContext in orchestrator
  pkg/engine/datacontext.go
  pkg/engine/orchestrator.go
  pkg/engine/orchestrator_initial_inputs_test.go
  pkg/engine/orchestrator_typed_write_test.go
Due: unit

fix(plugin): fail/partial-failure semantics for manifest.Add/Save errors (implements #126)
  pkg/plugin/service.go
  pkg/plugin/service_negative_test.go
  pkg/plugin/service_test.go
Due: unit

feat(engine): integrate typed DataContext in orchestrator + tests (Iteration 2)
  pkg/engine/datacontext.go
  pkg/engine/orchestrator.go
  pkg/engine/orchestrator_initial_inputs_test.go
Due: unit

feat(engine): typed DataContext integration in orchestrator (Iteration 2) (#149)
  pkg/engine/datacontext.go
  pkg/engine/orchestrator.go
  pkg/engine/orchestrator_initial_inputs_test.go
  pkg/engine/orchestrator_typed_write_test.go
Due: unit

feat(engine): expand RegisterCommonSchema with common data keys (Iteration 3)
  pkg/engine/datacontext.go
  pkg/engine/datacontext_expanded_schema_test.go
Due: unit

feat(cli/plugin): DRY global flags via plugin root + output validation
  cmd/pentora/commands/plugin/clean.go
  cmd/pentora/commands/plugin/embedded.go
  cmd/pentora/commands/plugin/info.go
  cmd/pentora/commands/plugin/install.go
  cmd/pentora/commands/plugin/list.go
  cmd/pentora/commands/plugin/root.go
  cmd/pentora/commands/plugin/uninstall.go
  cmd/pentora/commands/plugin/update.go
  cmd/pentora/commands/plugin/verify.go
Due: none

docs(dto-policy): add DTO Evolution Policy notes to scans and API error DTOs (refs #92)
  pkg/plugin/service_types.go
  pkg/server/api/errors.go
  pkg/server/api/v1/plugins.go
  pkg/server/api/v1/scans.go
Due: unit, integration

feat(cli/plugin): DRY global flags + output validation (refs #91)
  cmd/pentora/commands/plugin/clean.go
  cmd/pentora/commands/plugin/embedded.go
  cmd/pentora/commands/plugin/info.go
  cmd/pentora/commands/plugin/install.go
  cmd/pentora/commands/plugin/list.go
  cmd/pentora/commands/plugin/root.go
  cmd/pentora/commands/plugin/uninstall.go
  cmd/pentora/commands/plugin/update.go
  cmd/pentora/commands/plugin/verify.go
Due: none

docs(api,plugin): generalize DTO policy comments and add zero-value guidance (follow-up to #152)
  pkg/plugin/service_types.go
  pkg/server/api/v1/plugins.go
  pkg/server/api/v1/scans.go
Due: unit, integration

docs(dto-policy): add DTO Evolution Policy notes to scans and API error DTOs (refs #92) (#152)
  pkg/plugin/service_types.go
  pkg/server/api/errors.go
  pkg/server/api/v1/plugins.go
  pkg/server/api/v1/scans.go
Due: unit, integration

fix(ci): add check to prevent PrintError regression in plugin commands
  .github/scripts/check-error-handling.sh
  .github/workflows/validate.yaml
Due: none

fix(ci): add check to prevent PrintError regression in plugin commands (#154)
  .github/scripts/check-error-handling.sh
  .github/workflows/validate.yaml
Due: none

docs(api,plugin): generalize DTO policy comments + zero-value guidance (follow-up to #152) (#153)
  pkg/plugin/service_types.go
  pkg/server/api/v1/plugins.go
  pkg/server/api/v1/scans.go
Due: unit, integration

feat(ci): add parametric error handling enforcement for CLI commands
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/check-error-handling.sh
  .github/workflows/validate.yaml
  .gitignore
  CONTRIBUTING.md
Due: none

feat(ci): add parametric error handling enforcement for CLI commands (#155)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/check-error-handling.sh
  .github/workflows/validate.yaml
  .gitignore
  CONTRIBUTING.md
Due: none

feat(fingerprint): extend StaticRule schema and add helpers for anti-patterns, confidence, and binary checks
  pkg/fingerprint/resolver_helpers.go
  pkg/fingerprint/resolver_helpers_test.go
  pkg/fingerprint/resolver_rulebased.go
  pkg/fingerprint/resolver_rulebased_test.go
  pkg/server/api/v1/validation.go
  pkg/server/api/v1/validation_test.go
Due: unit, integration

feat(fingerprint): extend StaticRule schema and add helpers for anti-patterns, confidence, and binary checks (#166)
  pkg/fingerprint/resolver_helpers.go
  pkg/fingerprint/resolver_helpers_test.go
  pkg/fingerprint/resolver_rulebased.go
  pkg/fingerprint/resolver_rulebased_test.go
  pkg/server/api/v1/validation.go
  pkg/server/api/v1/validation_test.go
Due: unit, integration

test(fingerprint): explicitly cover regex non-matching branch in Resolve()
  pkg/fingerprint/resolver_rulebased_test.go
Due: unit

test(fingerprint): cover protocol mismatch, non-matching pattern, and hard-exclude branches in Resolve()
  pkg/fingerprint/resolver_rulebased_test.go
Due: unit

refactor(fingerprint): multi-phase rule resolver (PR 2 of 2 for #159) (#167)
  pkg/fingerprint/resolver_rulebased.go
  pkg/fingerprint/resolver_rulebased_test.go
Due: unit

test(fingerprint): expand resolver + loader/parse coverage for Issue #160
  pkg/fingerprint/loader.go
  pkg/fingerprint/loader_test.go
  pkg/fingerprint/parse_test.go
  pkg/fingerprint/resolver_rulebased.go
  pkg/fingerprint/resolver_rulebased_test.go
Due: unit

test(fingerprint): expand resolver + loader/parse coverage for Issue #160 (#168)
  pkg/fingerprint/loader.go
  pkg/fingerprint/loader_test.go
  pkg/fingerprint/parse_test.go
  pkg/fingerprint/resolver_rulebased_test.go
Due: unit

feat(fingerprint): enhance MySQL rule with anti-patterns and confidence scoring
  pkg/fingerprint/data/fingerprint_db.yaml
  pkg/fingerprint/resolver_rulebased_test.go
Due: unit

feat(fingerprint): MySQL perfect implementation with anti‑patterns and confidence scoring (resolves #161)
  pkg/fingerprint/data/fingerprint_db.yaml
  pkg/fingerprint/resolver_rulebased_test.go
Due: unit

feat(fingerprint): expand protocol coverage from 6 to 25 protocols
  pkg/fingerprint/data/fingerprint_db.yaml
  pkg/fingerprint/resolver_rulebased_test.go
Due: unit

feat(fingerprint): Phase 4 Protocol Expansion - 25 Protocols (resolves #162)
  pkg/fingerprint/data/fingerprint_db.yaml
  pkg/fingerprint/resolver_rulebased_test.go
Due: unit

feat(fingerprint): add YAML validation for fingerprint database
  .github/workflows/validate.yaml
  cmd/pentora/commands/fingerprint.go
  pkg/fingerprint/validator.go
  pkg/fingerprint/validator_test.go
Due: unit

Path conditions:
  unit: any of: pkg/
  integration: any of: pkg/server/
