Repository pentora-ai/pentora: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

.codecov.yml:

# Codecov configuration for Pentora
# https://docs.codecov.com/docs/codecov-yaml

# Coverage targets
coverage:
  status:
    project:
      default:
        target: 70% # Realistic baseline (current: 67.3%, gradual improvement expected)
        threshold: 2% # Allow 2% decrease for refactoring flexibility
        informational: false # Block PRs that decrease coverage significantly
    patch:
      default:
        target: 85% # High standard for new code (achievable, see pkg/plugin: 96.5%)
        threshold: 5% # Allow 5% decrease for major refactoring/architecture changes
        informational: false # Enforce quality on new code

  # Ignore paths that don't need coverage
  ignore:
    # CLI entry points - thin wrappers around pkg/
    - 'cmd/**/*.go'

    # CLI command implementations - integration tested
    - 'pkg/cli/**/*.go'

    # Generated code
    - '**/*.pb.go' # Protobuf generated files
    - '**/*_generated.go' # Any generated Go files
    - 'pkg/engine/proto/**' # Protocol buffer definitions

    # Not yet implemented / future work
    - 'pkg/api/dashboard/**'
    - 'pkg/fingerprint/catalogsync/**'

    # Test files (already excluded by default but explicit)
    - '**/*_test.go'
    - '**/testdata/**'
    - '**/mock_*.go'

# Comment behavior on PRs
comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flags for different components (optional)
flags:
  unit:
    paths:
      - pkg/
    carryforward: true
  integration:
    paths:
      - pkg/server/
    carryforward: true

# Coverage improvement roadmap
# Current (v0.1-dev): project 70%, patch 85%
# Phase 2 (v0.2): project 75%, patch 85%
# Phase 3 (v0.3): project 80%, patch 90%
# Phase 4 (v1.0): project 85%, patch 90%
# Gradual improvement with each release cycle

fix(cli,api): implement partial failure UX with exit code 8 and error suggestions (#78)
  cmd/pentora/commands/plugin/install.go
  cmd/pentora/commands/plugin/uninstall.go
  cmd/pentora/commands/plugin/update.go
  pkg/plugin/cache_test.go
  pkg/plugin/downloader_test.go
  pkg/plugin/evaluator_test.go
  pkg/plugin/loader_test.go
  pkg/plugin/manifest_test.go
  pkg/plugin/registry_test.go
  pkg/plugin/service.go
  pkg/plugin/service_errors.go
  pkg/plugin/service_errors_test.go
  pkg/plugin/service_test.go
  pkg/plugin/service_types.go
  pkg/plugin/smart_loader_test.go
  pkg/plugin/types.go
  pkg/plugin/types_test.go
  pkg/plugin/verify_test.go
  pkg/server/api/v1/plugins.go
  pkg/server/api/v1/plugins_test.go
Due: unit, integration

refactor: remove unused legacy packages (pkg/safe, pkg/server root)
  go.mod
  go.sum
  pkg/safe/routine.go
  pkg/safe/safe.go
  pkg/server/server.go
  pkg/server/server_signals.go
Due: unit, integration

refactor: remove unused pkg/parser package
  pkg/parser/http.go
  pkg/parser/registry.go
  pkg/parser/registry_test.go
  pkg/parser/ssh.go
Due: unit

test(plugin): add negative-path tests for Verify edge cases
  pkg/plugin/service_negative_test.go
  pkg/plugin/service_test.go
Due: unit

fix(plugin): update last_verified timestamp on successful verification
  pkg/plugin/service.go
  pkg/plugin/service_test.go
Due: unit

refactor(cli): improve plugin command testability and reduce code duplication
  cmd/pentora/commands/plugin/clean.go
  cmd/pentora/commands/plugin/helpers.go
  cmd/pentora/commands/plugin/info.go
  cmd/pentora/commands/plugin/install.go
  cmd/pentora/commands/plugin/list.go
  cmd/pentora/commands/plugin/uninstall.go
  cmd/pentora/commands/plugin/update.go
  cmd/pentora/commands/plugin/verify.go
Due: none

refactor(plugin): standardize structured logging in plugin service
  pkg/plugin/service.go
Due: unit

fix(plugin): add nolint directives for gocyclo warnings
  pkg/plugin/service.go
Due: unit

feat(plugin): add context timeout policy for service operations
  pkg/plugin/config.go
  pkg/plugin/config_test.go
  pkg/plugin/service.go
  pkg/plugin/service_test.go
Due: unit

refactor(plugin): implement functional options pattern for Service API
  cmd/pentora/commands/plugin/helpers.go
  cmd/pentora/commands/server/start.go
  pkg/plugin/config_test.go
  pkg/plugin/options.go
  pkg/plugin/options_test.go
  pkg/plugin/service.go
  pkg/plugin/service_test.go
  pkg/server/api/v1/plugins_integration_test.go
Due: unit, integration

feat(plugin): add shared validation constants for defense-in-depth
  pkg/plugin/constants.go
  pkg/plugin/constants_test.go
Due: unit

feat(cli): add defense-in-depth validation to bind layer
  cmd/pentora/internal/bind/plugin.go
  cmd/pentora/internal/bind/plugin_test.go
Due: none

feat(api): add defense-in-depth validation to plugin API handlers
  pkg/server/api/v1/plugins.go
  pkg/server/api/v1/plugins_test.go
Due: unit, integration

feat(api): add API config structure with handler timeout support
  pkg/server/api/api.go
  pkg/server/api/config.go
  pkg/server/api/config_test.go
Due: unit, integration

feat(api): add handler-level timeout with HTTP 504 support
  pkg/server/api/v1/plugins.go
  pkg/server/api/v1/plugins_test.go
  pkg/server/api/v1/plugins_timeout_test.go
  pkg/server/app/app.go
  pkg/server/httpx/router.go
Due: unit, integration

test(httpx): add router plugin endpoint mount tests
  pkg/server/httpx/router_test.go
Due: unit, integration

feat(logging): add structured logging for install operations (Phase 1)
  cmd/pentora/commands/plugin/install.go
  pkg/server/api/v1/plugins.go
Due: unit, integration

feat(plugin): add structured logging to update operations (Phase 2)
  cmd/pentora/commands/plugin/update.go
  pkg/server/api/v1/plugins.go
Due: unit, integration

test(api): fix integration test for UpdatePluginsHandler invalid JSON
  pkg/server/api/v1/plugins_integration_test.go
Due: unit, integration

feat(plugin): add structured logging to list/info operations (Phase 3)
  cmd/pentora/commands/plugin/info.go
  cmd/pentora/commands/plugin/list.go
  pkg/server/api/v1/plugins.go
Due: unit, integration

feat(plugin): add structured logging to uninstall/clean/verify operations (Phase 4-5)
  cmd/pentora/commands/plugin/clean.go
  cmd/pentora/commands/plugin/uninstall.go
  cmd/pentora/commands/plugin/verify.go
  pkg/server/api/v1/plugins.go
Due: unit, integration

feat(cli): implement user experience improvements for plugin commands (#47)
  cmd/pentora/commands/plugin/helpers.go
  cmd/pentora/commands/plugin/install.go
  cmd/pentora/commands/plugin/uninstall.go
  cmd/pentora/commands/plugin/update.go
  cmd/pentora/internal/format/format.go
  cmd/pentora/internal/format/summary.go
Due: none

test(plugin): expand negative-path test coverage for service failures
  pkg/plugin/service_negative_test.go
Due: unit

style(plugin): fix formatting in service_negative_test.go
  pkg/plugin/service_negative_test.go
Due: unit

fix(plugin): auto-sync server plugin list with CLI changes
  cmd/pentora/commands/server/start.go
  go.mod
  go.sum
  pkg/plugin/manifest.go
  pkg/plugin/service.go
  pkg/plugin/watcher.go
Due: unit

fix(plugin): fix lint issues in manifest watcher
  go.mod
  pkg/plugin/service.go
  pkg/plugin/watcher.go
Due: unit

test(plugin): add comprehensive tests for manifest watcher
  pkg/plugin/watcher_test.go
Due: unit

fix(plugin): use octal notation for file permissions in tests
  pkg/plugin/watcher_test.go
Due: unit

test(plugin): improve coverage for watcher and service
  pkg/plugin/watcher_test.go
Due: unit

fix(plugin): add actionable suggestions to total failure errors
  cmd/pentora/commands/plugin/clean.go
  cmd/pentora/commands/plugin/embedded.go
  cmd/pentora/commands/plugin/info.go
  cmd/pentora/commands/plugin/install.go
  cmd/pentora/commands/plugin/list.go
  cmd/pentora/commands/plugin/uninstall.go
  cmd/pentora/commands/plugin/update.go
  cmd/pentora/commands/plugin/verify.go
Due: none

test(plugin): add comprehensive edge case tests for watcher
  pkg/plugin/watcher_test.go
Due: unit

fix(plugin): add actionable suggestions to total failure errors (#101)
  cmd/pentora/commands/plugin/clean.go
  cmd/pentora/commands/plugin/embedded.go
  cmd/pentora/commands/plugin/info.go
  cmd/pentora/commands/plugin/install.go
  cmd/pentora/commands/plugin/list.go
  cmd/pentora/commands/plugin/uninstall.go
  cmd/pentora/commands/plugin/update.go
  cmd/pentora/commands/plugin/verify.go
Due: none

fix(plugin): auto-sync server plugin list with CLI changes (#100)
  cmd/pentora/commands/server/start.go
  go.mod
  go.sum
  pkg/plugin/manifest.go
  pkg/plugin/service.go
  pkg/plugin/watcher.go
  pkg/plugin/watcher_test.go
Due: unit

Update README.md
  README.md
Due: none

Update README.md (#104)
  README.md
Due: none

fix(scanner): correct banner type mismatch in module metadata
  pkg/modules/parse/fingerprint_parser.go
  pkg/modules/parse/http_parser.go
  pkg/modules/parse/ssh_parser.go
  pkg/modules/scan/banner_grab.go
Due: unit

fix(scanner): correct banner type mismatch in module metadata (#115)
  pkg/modules/parse/fingerprint_parser.go
  pkg/modules/parse/http_parser.go
  pkg/modules/parse/ssh_parser.go
  pkg/modules/scan/banner_grab.go
Due: unit

fix(scanner): enable loopback scanning by default for development
  pkg/modules/discovery/icmp_ping.go
Due: unit

fix(scanner): enable loopback scanning by default for development (#116)
  pkg/modules/discovery/icmp_ping.go
Due: unit

fix(scanner): enable asset profile generation and loopback scanning
  pkg/modules/discovery/icmp_ping.go
  pkg/modules/reporting/asset_profile_builder.go
Due: unit
