Repository pentora-ai/pentora: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

.codecov.yml:

# Codecov configuration for Pentora
# https://docs.codecov.com/docs/codecov-yaml

# Coverage targets
coverage:
  status:
    project:
      default:
        target: 70% # Realistic baseline (current: 67.3%, gradual improvement expected)
        threshold: 2% # Allow 2% decrease for refactoring flexibility
        informational: false # Block PRs that decrease coverage significantly
    patch:
      default:
        target: 85% # High standard for new code (achievable, see pkg/plugin: 96.5%)
        threshold: 5% # Allow 5% decrease for major refactoring/architecture changes
        informational: false # Enforce quality on new code

  # Ignore paths that don't need coverage
  ignore:
    # CLI entry points - thin wrappers around pkg/
    - 'cmd/**/*.go'

    # CLI command implementations - integration tested
    - 'pkg/cli/**/*.go'

    # Generated code
    - '**/*.pb.go' # Protobuf generated files
    - '**/*_generated.go' # Any generated Go files
    - 'pkg/engine/proto/**' # Protocol buffer definitions

    # Not yet implemented / future work
    - 'pkg/api/dashboard/**'
    - 'pkg/fingerprint/catalogsync/**'

    # Test files (already excluded by default but explicit)
    - '**/*_test.go'
    - '**/testdata/**'
    - '**/mock_*.go'

# Comment behavior on PRs
comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flags for different components (optional)
flags:
  unit:
    paths:
      - pkg/
    carryforward: true
  integration:
    paths:
      - pkg/server/
    carryforward: true

# Coverage improvement roadmap
# Current (v0.1-dev): project 70%, patch 85%
# Phase 2 (v0.2): project 75%, patch 85%
# Phase 3 (v0.3): project 80%, patch 90%
# Phase 4 (v1.0): project 85%, patch 90%
# Gradual improvement with each release cycle

feat(plugin): Implement partial failure semantics for bulk operations (Issue #29) (#54)
  pkg/plugin/service.go
  pkg/plugin/service_test.go
  pkg/server/api/v1/plugins_integration_test.go
  pkg/server/app/app_integration_test.go
Due: unit, integration

refactor(logging): simplify package and implement dependency injection pattern
  cmd/pentora/commands/server/start.go
  pkg/engine/factory.go
  pkg/logging/logging.go
  pkg/logging/logging_test.go
  pkg/server/api/v1/plugins_integration_test.go
  pkg/server/app/app.go
  pkg/server/app/app_integration_test.go
  pkg/server/app/app_test.go
  pkg/server/app/deps.go
Due: unit, integration

refactor(logging): simplify package and implement dependency injection pattern (#55)
  cmd/pentora/commands/server/start.go
  pkg/engine/factory.go
  pkg/logging/logging.go
  pkg/logging/logging_test.go
  pkg/server/api/v1/plugins_integration_test.go
  pkg/server/app/app.go
  pkg/server/app/app_integration_test.go
  pkg/server/app/app_test.go
  pkg/server/app/deps.go
Due: unit, integration

feat(plugin): add input validation helpers for service layer (Issue #30 - Part 1/2)
  pkg/plugin/validation.go
  pkg/plugin/validation_test.go
Due: unit

feat(plugin): add input validation helpers for service layer (Issue #30 - Part 1/2) (#56)
  pkg/plugin/validation.go
  pkg/plugin/validation_test.go
Due: unit

feat(plugin): integrate input validation into service methods (Issue #30 - Part 2/2)
  pkg/plugin/service.go
  pkg/plugin/service_test.go
Due: unit

feat(plugin): integrate input validation into service methods (Issue #30 - Part 2/2) (#57)
  pkg/plugin/service.go
  pkg/plugin/service_test.go
Due: unit

docs: fix README inaccuracies and remove unnecessary badges
  README.md
Due: none

refactor(cli): implement centralized flag-to-options binding pattern
  .gitignore
  cmd/pentora/commands/plugin/clean.go
  cmd/pentora/commands/plugin/install.go
  cmd/pentora/commands/plugin/uninstall.go
  cmd/pentora/commands/plugin/update.go
  cmd/pentora/commands/plugin/verify.go
  cmd/pentora/internal/bind/plugin.go
  cmd/pentora/internal/bind/plugin_test.go
Due: none

refactor(cli): extend centralized binding pattern to scan/server/dag/fingerprint (Issue #58 Phase 1-2)
  cmd/pentora/internal/bind/dag.go
  cmd/pentora/internal/bind/dag_test.go
  cmd/pentora/internal/bind/fingerprint.go
  cmd/pentora/internal/bind/fingerprint_test.go
  cmd/pentora/internal/bind/scan.go
  cmd/pentora/internal/bind/scan_test.go
  cmd/pentora/internal/bind/server.go
  cmd/pentora/internal/bind/server_test.go
Due: none

refactor(cli): complete centralized binding pattern migration (Issue #58 Phase 3-4)
  cmd/pentora/commands/dag/export.go
  cmd/pentora/commands/dag/export_test.go
  cmd/pentora/commands/dag/validate.go
  cmd/pentora/commands/dag/validate_test.go
  cmd/pentora/commands/fingerprint.go
  cmd/pentora/commands/scan.go
  cmd/pentora/commands/server/start.go
  cmd/pentora/commands/storage/gc.go
  cmd/pentora/internal/bind/scan_test.go
  cmd/pentora/internal/bind/storage.go
  cmd/pentora/internal/bind/storage_test.go
Due: none

fix(plugin): propagate context cancellation to cache layer
  pkg/plugin/cache.go
  pkg/plugin/cache_test.go
  pkg/plugin/downloader.go
  pkg/plugin/downloader_test.go
  pkg/plugin/service.go
  pkg/plugin/service_test.go
  pkg/plugin/smart_loader_test.go
Due: unit

feat(cli): add unified output formatter package
  cmd/pentora/internal/format/format.go
  cmd/pentora/internal/format/format_test.go
Due: none

feat(cli): migrate plugin install to use formatter package
  cmd/pentora/commands/plugin/install.go
Due: none

feat(cli): migrate plugin list to use formatter package
  cmd/pentora/commands/plugin/list.go
Due: none

feat(cli): migrate plugin update to use formatter package
  cmd/pentora/commands/plugin/update.go
Due: none

feat(cli): migrate remaining plugin commands to use formatter
  cmd/pentora/commands/plugin/clean.go
  cmd/pentora/commands/plugin/info.go
  cmd/pentora/commands/plugin/uninstall.go
  cmd/pentora/commands/plugin/verify.go
Due: none

feat(cli): migrate plugin embedded command to formatter package
  cmd/pentora/commands/plugin/embedded.go
Due: none

feat(cli): implement unified formatter package (Issue #39) (#60)
  cmd/pentora/commands/plugin/clean.go
  cmd/pentora/commands/plugin/embedded.go
  cmd/pentora/commands/plugin/info.go
  cmd/pentora/commands/plugin/install.go
  cmd/pentora/commands/plugin/list.go
  cmd/pentora/commands/plugin/uninstall.go
  cmd/pentora/commands/plugin/update.go
  cmd/pentora/commands/plugin/verify.go
  cmd/pentora/internal/format/format.go
  cmd/pentora/internal/format/format_test.go
Due: none

test: validate multi-agent workflow setup
  README.md
Due: none

refactor(plugin): add retry/backoff for network failures (#36)
  pkg/plugin/downloader.go
  pkg/plugin/downloader_test.go
  pkg/plugin/retry.go
  pkg/plugin/retry_test.go
  pkg/plugin/service.go
Due: unit

chore(lint): upgrade to golangci-lint v2 syntax + add critical linters
  .golangci.yaml
  cmd/pentora/internal/format/format.go
Due: none

fix(lint): correct v2 syntax - use linters.exclusions instead of issues.exclude-rules
  .golangci.yaml
Due: none

chore(lint): Phase 1 - golangci-lint v2 + Critical Linters (#64)
  .golangci.yaml
  cmd/pentora/internal/format/format.go
Due: none

chore(lint): add complexity limits (gocyclo, funlen, goconst) - Phase 3
  .golangci.yaml
Due: none

chore(lint): add complexity limits (gocyclo, funlen, goconst) - Phase 3 (#68)
  .golangci.yaml
Due: none

chore(lint): add forbidden patterns enforcement (forbidigo) - Phase 4
  .golangci.yaml
Due: none

chore(lint): add forbidden patterns enforcement (forbidigo) - Phase 4 (#70)
  .golangci.yaml
Due: none

chore(lint): add dependency guard (depguard) - Phase 5
  .golangci.yaml
Due: none

chore(lint): add dependency guard (depguard) - Phase 5 (#72)
  .golangci.yaml
Due: none

feat(lint): enable all linters in Phase 6 with strategic disables
  .golangci.yaml
Due: none

feat(lint): enable all linters in Phase 6 with strategic disables (#74)
  .golangci.yaml
Due: none

feat(lint): add Phase 7 advanced settings and fix spelling issues
  .golangci.yaml
  pkg/cli/discover.go
  pkg/engine/orchestrator.go
  pkg/engine/orchestrator_test.go
  pkg/fingerprint/fingerprinter.go
  pkg/fingerprint/metadata.go
  pkg/modules/discovery/icmp_ping.go
  pkg/modules/discovery/icmp_ping_test.go
  pkg/modules/discovery/tcp_port_discovery.go
  pkg/modules/parse/http_parser.go
  pkg/modules/parse/ssh_parser.go
  pkg/modules/scan/banner_grab.go
  pkg/plugin/downloader_test.go
  pkg/plugin/retry.go
  pkg/plugin/service.go
  pkg/plugin/service_test.go
  pkg/server/jobs/memory.go
  pkg/server/jobs/memory_test.go
  pkg/storage/types.go
  pkg/storage/types_test.go
Due: unit, integration

feat(lint): add Phase 7 advanced settings and fix spelling issues (#76)
  .golangci.yaml
  pkg/cli/discover.go
  pkg/engine/orchestrator.go
  pkg/engine/orchestrator_test.go
  pkg/fingerprint/fingerprinter.go
  pkg/fingerprint/metadata.go
  pkg/modules/discovery/icmp_ping.go
  pkg/modules/discovery/icmp_ping_test.go
  pkg/modules/discovery/tcp_port_discovery.go
  pkg/modules/parse/http_parser.go
  pkg/modules/parse/ssh_parser.go
  pkg/modules/scan/banner_grab.go
  pkg/plugin/downloader_test.go
  pkg/plugin/retry.go
  pkg/plugin/service.go
  pkg/plugin/service_test.go
  pkg/server/jobs/memory.go
  pkg/server/jobs/memory_test.go
  pkg/storage/types.go
  pkg/storage/types_test.go
Due: unit, integration

Add test and coverage badges to README
  README.md
Due: none

fix(cli): implement JSON mode fidelity for plugin commands (Issue #40)
  cmd/pentora/commands/plugin/clean.go
  cmd/pentora/commands/plugin/embedded.go
  cmd/pentora/commands/plugin/install.go
  cmd/pentora/commands/plugin/list.go
  cmd/pentora/commands/plugin/uninstall.go
  cmd/pentora/commands/plugin/update.go
  cmd/pentora/commands/plugin/verify.go
  cmd/pentora/internal/format/format.go
  cmd/pentora/internal/format/format_test.go
Due: none

fix(cli): implement JSON mode fidelity for plugin commands (Issue #40) (#77)
  cmd/pentora/commands/plugin/clean.go
  cmd/pentora/commands/plugin/embedded.go
  cmd/pentora/commands/plugin/install.go
  cmd/pentora/commands/plugin/list.go
  cmd/pentora/commands/plugin/uninstall.go
  cmd/pentora/commands/plugin/update.go
  cmd/pentora/commands/plugin/verify.go
  cmd/pentora/internal/format/format.go
  cmd/pentora/internal/format/format_test.go
Due: none

fix(cli,api): implement partial failure UX with exit code 8 and error suggestions
  cmd/pentora/commands/plugin/install.go
  cmd/pentora/commands/plugin/uninstall.go
  cmd/pentora/commands/plugin/update.go
  pkg/plugin/cache_test.go
  pkg/plugin/downloader_test.go
  pkg/plugin/evaluator_test.go
  pkg/plugin/loader_test.go
  pkg/plugin/manifest_test.go
  pkg/plugin/registry_test.go
  pkg/plugin/service.go
  pkg/plugin/service_errors.go
  pkg/plugin/service_errors_test.go
  pkg/plugin/service_test.go
  pkg/plugin/service_types.go
  pkg/plugin/smart_loader_test.go
  pkg/plugin/types.go
  pkg/plugin/types_test.go
  pkg/plugin/verify_test.go
  pkg/server/api/v1/plugins.go
  pkg/server/api/v1/plugins_test.go
Due: unit, integration
