Repository pentora-ai/pentora: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

.codecov.yml:

# Codecov configuration for Pentora
# https://docs.codecov.com/docs/codecov-yaml

# Coverage targets
coverage:
  status:
    project:
      default:
        target: 70% # Realistic baseline (current: 67.3%, gradual improvement expected)
        threshold: 2% # Allow 2% decrease for refactoring flexibility
        informational: false # Block PRs that decrease coverage significantly
    patch:
      default:
        target: 85% # High standard for new code (achievable, see pkg/plugin: 96.5%)
        threshold: 5% # Allow 5% decrease for major refactoring/architecture changes
        informational: false # Enforce quality on new code

  # Ignore paths that don't need coverage
  ignore:
    # CLI entry points - thin wrappers around pkg/
    - 'cmd/**/*.go'

    # CLI command implementations - integration tested
    - 'pkg/cli/**/*.go'

    # Generated code
    - '**/*.pb.go' # Protobuf generated files
    - '**/*_generated.go' # Any generated Go files
    - 'pkg/engine/proto/**' # Protocol buffer definitions

    # Not yet implemented / future work
    - 'pkg/api/dashboard/**'
    - 'pkg/fingerprint/catalogsync/**'

    # Test files (already excluded by default but explicit)
    - '**/*_test.go'
    - '**/testdata/**'
    - '**/mock_*.go'

# Comment behavior on PRs
comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flags for different components (optional)
flags:
  unit:
    paths:
      - pkg/
    carryforward: true
  integration:
    paths:
      - pkg/server/
    carryforward: true

# Coverage improvement roadmap
# Current (v0.1-dev): project 70%, patch 85%
# Phase 2 (v0.2): project 75%, patch 85%
# Phase 3 (v0.3): project 80%, patch 90%
# Phase 4 (v1.0): project 85%, patch 90%
# Gradual improvement with each release cycle

fix(plugin): load existing plugins on CacheManager initialization
  pkg/plugin/cache.go
  pkg/plugin/cache_test.go
Due: unit

feat(plugin): implement plugin name normalization for filesystem paths
  pkg/plugin/cache.go
  pkg/plugin/cache_test.go
  pkg/plugin/registry.go
Due: unit

feat(plugin): implement plugin version compatibility checking (Option 1)
  go.mod
  go.sum
  pkg/plugin/types.go
  pkg/plugin/types_test.go
Due: unit

feat(engine): implement DAG Schema orchestrator integration (Phase 3)
  pkg/engine/dag_schema.go
  pkg/engine/dag_schema_test.go
  pkg/engine/orchestrator.go
  pkg/engine/orchestrator_test.go
Due: unit

feat(cli): add plugin install and uninstall commands
  cmd/pentora/commands/plugin/install.go
  cmd/pentora/commands/plugin/root.go
  cmd/pentora/commands/plugin/uninstall.go
Due: none

feat(plugin): use plugin ID as registry identifier instead of name
  cmd/pentora/commands/plugin/install.go
  cmd/pentora/commands/plugin/uninstall.go
  cmd/pentora/commands/plugin/verify.go
  pkg/plugin/manifest.go
  pkg/plugin/manifest_test.go
  pkg/plugin/types.go
Due: unit

fix(plugin): preserve original file checksums by caching raw data
  pkg/plugin/cache.go
  pkg/plugin/cache_test.go
  pkg/plugin/downloader.go
Due: unit

test(plugin): add ID field to PluginManifestEntry in tests
  pkg/plugin/downloader_test.go
  pkg/plugin/smart_loader_test.go
Due: unit

refactor(plugin): use ID field instead of Name for plugin lookups
  cmd/pentora/commands/plugin/info.go
  cmd/pentora/commands/plugin/install.go
  cmd/pentora/commands/plugin/list.go
  cmd/pentora/commands/plugin/uninstall.go
  cmd/pentora/commands/plugin/update.go
  pkg/plugin/registry.go
  pkg/plugin/types.go
Due: unit

feat(plugin): implement service layer structure (Phase 1.1)
  pkg/plugin/downloader.go
  pkg/plugin/service.go
  pkg/plugin/service_errors.go
  pkg/plugin/service_test.go
  pkg/plugin/service_types.go
Due: unit

feat(plugin): implement Install() method (Phase 1.2)
  pkg/plugin/service.go
Due: unit

feat(plugin): move PluginSource and PluginManifestEntry to service_types.go
  pkg/plugin/service_types.go
Due: unit

feat(plugin): implement Update() method (Phase 1.3)
  pkg/plugin/service.go
  pkg/plugin/service_types.go
Due: unit

test(plugin): add comprehensive unit tests for Service.Update()
  pkg/plugin/service_test.go
Due: unit

feat(plugin): implement Uninstall() method (Phase 1.4)
  pkg/plugin/service.go
  pkg/plugin/service_errors.go
  pkg/plugin/service_test.go
Due: unit

test(plugin): add comprehensive unit tests for Uninstall method
  pkg/plugin/service_test.go
Due: unit

feat(plugin): implement List() and GetInfo() methods (Phase 1.5)
  pkg/plugin/service.go
  pkg/plugin/service_test.go
Due: unit

test(plugin): add comprehensive benchmark tests for Phase 1.6
  pkg/plugin/service_test.go
Due: unit

fix(makefile): handle potential error in TAG_NAME retrieval
  Makefile
Due: none

refactor(plugin): migrate CLI commands to service layer (Phase 2.1-2.4)
  cmd/pentora/commands/plugin/info.go
  cmd/pentora/commands/plugin/install.go
  cmd/pentora/commands/plugin/list.go
  cmd/pentora/commands/plugin/uninstall.go
  cmd/pentora/commands/plugin/update.go
Due: none

feat(plugin): complete Phase 2.5 - add Clean and Verify service methods
  cmd/pentora/commands/plugin/clean.go
  cmd/pentora/commands/plugin/verify.go
  pkg/plugin/service.go
  pkg/plugin/service_test.go
  pkg/plugin/service_types.go
  pkg/ui/dist/.gitkeep
Due: unit

refactor(tests): update manifest entry name and last updated timestamp verification
  pkg/plugin/manifest_test.go
  pkg/plugin/service_test.go
Due: unit

feat(api): implement plugin management REST API endpoints (Phase 3)
  pkg/server/api/api.go
  pkg/server/api/v1/plugins.go
  pkg/server/httpx/router.go
Due: unit, integration

feat(server): inject PluginService into server startup for API endpoints
  cmd/pentora/commands/server/start.go
  pkg/server/app/app.go
  pkg/server/app/deps.go
Due: unit, integration

fix(plugin): unify CLI and Server plugin cache directory paths
  cmd/pentora/commands/plugin/clean.go
  cmd/pentora/commands/plugin/info.go
  cmd/pentora/commands/plugin/install.go
  cmd/pentora/commands/plugin/list.go
  cmd/pentora/commands/plugin/uninstall.go
  cmd/pentora/commands/plugin/update.go
  cmd/pentora/commands/plugin/verify.go
Due: none

fix(plugin): clean cache directory on plugin uninstall
  pkg/plugin/service.go
  pkg/plugin/service_test.go
Due: unit

test(api): add comprehensive integration tests for plugin API endpoints (Phase 3.3)
  pkg/server/api/v1/plugins_integration_test.go
Due: unit, integration

docs: add Testing Strategy section to README
  README.md
Due: none

refactor(cli): simplify CLI initialization by removing pentora-server command
  cmd/main.go
  cmd/pentora-server/commands/pentora_server.go
  cmd/pentora-server/commands/pentora_server_test.go
  cmd/tools/manifest-generator/README.md
  cmd/tools/manifest-generator/main.go
Due: none

chore: add .gitkeep to pkg/ui/dist directory
  pkg/ui/dist/.gitkeep
Due: unit

ci: add UI placeholder creation in test workflow
  .github/workflows/test.yaml
Due: none

fix(test): increase HTTP client timeout in plugin integration tests
  pkg/server/api/v1/plugins_integration_test.go
Due: unit, integration

feat: Service Layer Refactor - Plugin Management (Phase 1-3 Complete) (#51)
  .github/workflows/test.yaml
  Makefile
  README.md
  cmd/main.go
  cmd/pentora-server/commands/pentora_server.go
  cmd/pentora-server/commands/pentora_server_test.go
  cmd/pentora/commands/plugin/clean.go
  cmd/pentora/commands/plugin/info.go
  cmd/pentora/commands/plugin/install.go
  cmd/pentora/commands/plugin/list.go
  cmd/pentora/commands/plugin/uninstall.go
  cmd/pentora/commands/plugin/update.go
  cmd/pentora/commands/plugin/verify.go
  cmd/pentora/commands/server/start.go
  cmd/tools/manifest-generator/README.md
  cmd/tools/manifest-generator/main.go
  pkg/plugin/downloader.go
  pkg/plugin/manifest_test.go
  pkg/plugin/service.go
  pkg/plugin/service_errors.go
  pkg/plugin/service_test.go
  pkg/plugin/service_types.go
  pkg/server/api/api.go
  pkg/server/api/v1/plugins.go
  pkg/server/api/v1/plugins_integration_test.go
  pkg/server/app/app.go
  pkg/server/app/deps.go
  pkg/server/httpx/router.go
Due: unit, integration

feat(plugin): implement error taxonomy and mapping across service/CLI/API layers
  cmd/main.go
  pkg/plugin/service_errors.go
  pkg/plugin/service_errors_test.go
  pkg/server/api/errors.go
  pkg/server/api/errors_test.go
  pkg/server/api/v1/plugins.go
Due: unit, integration

test(api): fix integration test reliability and log noise
  pkg/server/api/v1/plugins_integration_test.go
Due: unit, integration

feat(plugin): implement error taxonomy and mapping across service/CLI/API layers (#52)
  cmd/main.go
  pkg/plugin/service_errors.go
  pkg/plugin/service_errors_test.go
  pkg/server/api/errors.go
  pkg/server/api/errors_test.go
  pkg/server/api/v1/plugins.go
  pkg/server/api/v1/plugins_integration_test.go
Due: unit, integration

test(api): add comprehensive unit tests for plugin API handlers
  pkg/server/api/v1/plugins_test.go
Due: unit, integration

test(api): add comprehensive unit tests for plugin API handlers (#53)
  pkg/server/api/v1/plugins_test.go
Due: unit, integration

feat(plugin): implement partial failure semantics for bulk operations
  pkg/plugin/service.go
  pkg/plugin/service_test.go
Due: unit

test(integration): suppress logs in plugin integration tests
  pkg/server/api/v1/plugins_integration_test.go
  pkg/server/app/app_integration_test.go
Due: unit, integration
